{
  "resources":[
    {
      "path":"assets/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"lib/",
    "resourcePacksDir":"assets/resource_packs/",
    "behaviorPacksDir":"assets/behavior_packs/"
  },
  "buildDirs":[
    {
      "targetSource":"main.js",
      "dir":"source/"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ]
}